* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

::selection{
    color: transparent;
}

body {
    background-image: url("newyear.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.heading {
    text-align: center;
    color: aliceblue;
    font-size: 2.5vmax;
    margin-top: 3vmax;
    background-image: url("snow.gif");
    background-repeat: repeat;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(0, 0, 0, 0.347);
    -webkit-text-stroke: 1px rgb(255, 255, 255); 
    font-family: 'Steelfish Rg', 'helvetica neue',
        helvetica, arial, sans-serif;     
}
.online{
    margin-top: 4vmax;
    width: 100%;
    display: flex;
    justify-content:center;
    gap: 4vmax;
    color: aliceblue;
    span{
        font-size: 4vmax;
    }
    p{
        font-size: 1.5vmax;
        margin-left: 1.4vmax;
    }
}
